body{
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
.hero
{
background-image: url("/Users/janinelucas/Documents/Projects/broadway/resources/images/the-flatiron-building.png");
colour: white;
}
h1
{
font-size: 70px;
font-weight: bold;
color: white;
}
