body{
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
.hero
{
background-image: url("/Users/janinelucas/Documents/Projects/broadway/resources/images/the-flatiron-building.png");
color: white;
}

h1
{
font-size: 70px;
font-weight: bold;
color: white;
}

.nav
{
  color: white
}

.process
{
colour: gray;
}

#ny
{
font-size: 23px;
}
.footer
{
  background-color: dimgray;
}
