body{
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
.hero
{
background-image: url("/Users/janinelucas/Documents/Projects/broadway/resources/images/the-flatiron-building.png");
color: white;
}

h1
{
font-size: 70px;
font-weight: bold;
color: white;
}

h2
{
font-size: 32px;
}

h3
{
font-size 23px;
}
p
{
font-size: 14px;  
}
.nav
{
  color: white;
  font-size: 18px;
}

.process
{
colour: gray;
}

#ny
{
font-size: 23px;
}
.footer
{
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
  padding-left: 5px;
}
